<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Event</title>
    <!-- Inclure les fichiers CSS et JavaScript ici -->
</head>
<body>
    <header>
        <!-- Ajoutez votre en-tête, barre de navigation, etc. ici -->
    </header>

    <main>
        {% block content %}
        <!-- Le contenu des autres templates sera inséré ici -->
        {% endblock %}
    </main>

    <footer>
        <!-- Ajoutez votre pied de page ici -->
    </footer>
</body>
</html>